body{
    margin: 0%;
    background-color: #6C91AE;
}

a{
    text-decoration: none;
    text-decoration-color: black;
}

a:visited { 
    text-decoration: none; 
    color:black  
}
a:hover { 
    text-decoration: none;  
    color:black 
}
a:focus { 
    text-decoration: none; 
    color:black   
}
a:hover, a:active { 
    text-decoration: none; 
    color:black 
}

p{
    color: white;
}